<header class="header">
  <div class="container">

    <div class="logo">
      <img src="assets/images/logo.png" alt="Logo">
    </div>
    <div class="burger" id="burger">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="40px" height="22px">
        <path fill-rule="evenodd" fill="rgb(130, 19, 40)"
              d="M0.000,22.000 L0.000,20.000 L40.000,20.000 L40.000,22.000 L0.000,22.000 ZM0.000,10.000 L40.000,10.000 L40.000,12.000 L0.000,12.000 L0.000,10.000 ZM0.000,-0.000 L40.000,-0.000 L40.000,2.000 L0.000,2.000 L0.000,-0.000 Z"/>
      </svg>
    </div>
    <nav class="menu" id="menu">
      <div class="menu__close">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 492 492" style="enable-background:new 0 0 492 492;" xml:space="preserve">
                    <g>
                        <g>
                            <path d="M300.188,246L484.14,62.04c5.06-5.064,7.852-11.82,7.86-19.024c0-7.208-2.792-13.972-7.86-19.028L468.02,7.872
                                c-5.068-5.076-11.824-7.856-19.036-7.856c-7.2,0-13.956,2.78-19.024,7.856L246.008,191.82L62.048,7.872
                                c-5.06-5.076-11.82-7.856-19.028-7.856c-7.2,0-13.96,2.78-19.02,7.856L7.872,23.988c-10.496,10.496-10.496,27.568,0,38.052
                                L191.828,246L7.872,429.952c-5.064,5.072-7.852,11.828-7.852,19.032c0,7.204,2.788,13.96,7.852,19.028l16.124,16.116
                                c5.06,5.072,11.824,7.856,19.02,7.856c7.208,0,13.968-2.784,19.028-7.856l183.96-183.952l183.952,183.952
                                c5.068,5.072,11.824,7.856,19.024,7.856h0.008c7.204,0,13.96-2.784,19.028-7.856l16.12-16.116
                                c5.06-5.064,7.852-11.824,7.852-19.028c0-7.204-2.792-13.96-7.852-19.028L300.188,246z"/>
                        </g>
                    </g>
                </svg>
      </div>
      <ul class="menu-list">
        <li class="menu-item" (click)="scrollTo(macaroonElement)">
          <a href="#">Пироженки</a>
        </li>
        <li class="menu-item" (click)="scrollTo(informationElement)">
          <a href="#">О нас</a>
        </li>
        <li class="menu-item" (click)="scrollTo(orderElement)">
          <a href="#">Оформить заказ</a>
        </li>
      </ul>
    </nav>
    <span class="phone">{{phone}}</span>
  </div>
</header>

<section class="main">
  <div class="container">
    <div class="main__left">
      <h1 class="main__title">Мягкие французские
        пироженки Macaroons</h1>
      <div class="main__subtitle">
        Побалуйте себя и своих близких самыми вкусными и ароматными домашними пироженками Macaroon!
      </div>
      <div class="button main__button">
        <button class="button__element" (click)="scrollTo(macaroonElement)">Выбрать макарун</button>
      </div>
    </div>
    <figure class="main__right">
      <div class="animation__circles"></div>
      <figcaption></figcaption>
      <img src="assets/images/macaroon-main.png" alt="Macaroon image" class="main__right-image">
    </figure>
  </div>
</section>

<section class="information" #informationElement>
  <div class="container">
    <div class="info">
      <div class="info__text">
        <h2 class="info__title">
          Мы печём для вас вкуснейшие макаруны уже более 10 лет
        </h2>
        <div class="info__subtitle">
          Все пироженки мы готовим только из натуральных и качественных продуктов, без консервантов,
          ароматизаторов, красителей. Используем в приготовлении сливочное масло 82,5%, без дрожжей,
          маргарина, разрыхлителей и улучшителей муки.
        </div>
      </div>
      <div class="info__image">
        <img src="assets/images/big-macaroon.png" alt="Big-macaroon">
      </div>
    </div>
    <div class="advantage">
      <div class="advantage__item" *ngFor="let advantage of advantages; let i = index">
        <div class="advantage__figure">
          <div class="advantage__number">{{i + 1}}</div>
        </div>
        <div class="advantage-title">{{advantage.title}}</div>
        <div class="advantage-description">{{advantage.description}}</div>
      </div>
    </div>
  </div>
</section>

<section class="macaroon-page" #macaroonElement>
  <div class="container">
    <h2>Выберите свой макарун</h2>
    <div class="macaroon">
      <div class="macaroon__item" *ngFor="let macaroon of macaroons; let i = index">
        <figure class="macaroon__image">
          <img src="assets/images/{{macaroon.image}}" alt="{{macaroon.title}}">
        </figure>
        <h4 class="macaroon__title">{{macaroon.title}}</h4>
        <div class="macaroon__info">
          <ul class="macaroon__list">
            <li>{{macaroon.amount}}</li>
            <li>{{macaroon.price}}</li>
          </ul>
          <div class="button macaroon__button">
            <button class="button__element button__element--small" (click)="addToCart(macaroon, orderElement)">Заказать</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="order" #orderElement>
  <div class="container order__container">
    <img src="assets/images/strawberry2.png" alt="Изображение клубники" class="strawberry2">
    <img src="assets/images/strawberry1.png" alt="Изображение клубники" class="strawberry1">
    <div class="order__image">
      <img src="assets/images/order.png" alt="Macaroons">
    </div>
    <div class="order__text">
      <h3 class="order__title">Закажите макарун!</h3>
      <p class="order__subtitle">Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего
        пекаря!</p>
      <div class="form__area">
        <label class="order__name_input order__name_input-chose" for="check1">Ваш выбор</label>
        <input type="text" class="order__input" id="check2" placeholder="Напишите, что хотите заказать..." [(ngModel)]="formValues.macaroonTitle">
        <label class="order__name_input" for="check2">Заполните данные для заказа</label>
        <input type="text" class="order__input" id="check1" placeholder="Ваше имя" [(ngModel)]="formValues.name">
        <input type="text" class="order__input" placeholder="+375 (__) ___ - __ - __" [(ngModel)]="formValues.phone">
        <button class="button__element button__element-wide" (click)="createOrder()">Оформить заказ</button>
      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container footer__container">
    <div class="logo footer__logo">
      <img src="assets/images/logo.png" alt="Logo">
    </div>
    <p class="footer__rights">Все права защищены, 2025</p>
    <figure class="footer__instagram-img">
      <img src="assets/images/{{instagram}}" alt="Instagram logo">
      <figcaption class="footer__instagram-community">Мы в Instagram</figcaption>
    </figure>
    <p class="phone footer__phone">{{phone}}</p>
  </div>
</footer>

<div class="gift" [style.display]="showPresent ? 'flex' : 'none'">
  <img src="assets/images/present.png" alt="Подарок">
  <p class="gift__popup">Оформите заказ<br>
    и получите подарок!</p>
</div>
